*{
    margin: 0;
    padding: 0;
}

.footer-container{
    display: flex;
    flex-direction: row;
<<<<<<< HEAD
    color: white;
    background-color: #323232;
}

.footer-logo img{
    height: 70px;
=======
    background-color: #323232;
    color: white;
>>>>>>> 8dd5c712dcfbd7b73cd9baf671666d904279087a
}

.footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
<<<<<<< HEAD
=======
    
>>>>>>> 8dd5c712dcfbd7b73cd9baf671666d904279087a
}

.footer-links{
    display: inline;
    width: 25%;
    
}

.footer-work{
    display: inline;
    width: 25%;

}

.footer-contact{
    display: inline;
    width: 25%;

}

<<<<<<< HEAD
=======
.footer-logo img{
    width: 100px;
    object-fit: contain;

}

>>>>>>> 8dd5c712dcfbd7b73cd9baf671666d904279087a
.social-icon-container{
    text-decoration: none;
    list-style: none;
    display: flex; 

}

.social-icon-container li{
    margin-right: 12px;
}

<<<<<<< HEAD
=======


>>>>>>> 8dd5c712dcfbd7b73cd9baf671666d904279087a
